input{
    border: 2px solid rgb(2, 151, 47);
    color: rgb(7, 56, 7);
    background-color: rgb(192, 238, 192);
  }
  
        h1 {
          color: rgb(1, 32, 16);
          text-align: center;
          font-size: 45px;
          font-family: Arial, Helvetica, sans-serif;
        }
  
        p{
          color:rgb(1, 32, 20);
          font-size: 30px;
          text-align: center;
          font-family: Arial, Helvetica, sans-serif;
         
        }
  
        form {
  
          text-align: center;
        }
  
       div {
        
        border: 4px solid rgb(2, 151, 47);
        padding: 25px 50px;
        background-color: rgb(157, 219, 176);
        width: 300px;
        margin: 25px 50px 75px 750px;
    
          }
  
          .button {
    background-color: #1ba820; /* Green */
    border:rgb(111, 226, 172) ;
    color: white;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
  
      }
      .button:hover {
    box-shadow: 0 12px 16px 0 rgba(78, 235, 91, 0.24), 0 17px 50px 0 rgba(96, 230, 129, 0.19);
  }
  
          
  